@charset "utf-8";




#first{background-image: url(../images/agra1.jpg);}
#second{background-image: url(../images/agrabrand.png);}
#third{background-image: url(../images/agra2.jpg);}
#fourth{background-image: url(../images/agra4.jpg);}



.fullpage{
	height: 100%;
}
/*SECTION*/
.section{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
#myVideo{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
}
.section .colortxt{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.3;
	text-indent: -9999px;
	position: relative;
	transition: 0.5s;
}
.section:hover .colortxt{
	opacity: 0.6;
}
.section h3{
	color:white;
	font-size: 2em;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}




/*BRAND*/
#second h3{
	top: 25%;
}
.brandinform{
	width: 500px;position: absolute;left: 50%;top:35%;transform: translateX(-50%);
	color:white;text-align: center;
}
.brandinform a{
	display: block;
	width: 200px;
	border: 1px solid #fff;
	line-height: 35px;
	color:white;
	border-radius:18px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.brandinform a:hover{
	background-color: #fff;
	color:#000;
}
.agrainform{
	width: 400px;
	height: 350px;
	position: absolute;
	right: 50px;
	bottom: -400px;
	color:#303030;
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;
}
.agrainform h4{
	font-size: 14px;
	margin-bottom: 5px;
	
}
.agrainform h5{
	font-size: 12px;
	margin-bottom: 30px;
}
.agrainform p{
	font-size: 12px;
	margin-bottom: 5px;
}
.agrainform img{
	margin-bottom: 30px;
	width: 150px;
}



/*MENU*/
#header{
	position: relative;
}
.headerWrap{
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
	background-color: #303030;
	z-index: 2
}
.headerWrap .logo{
	width: 103px !important;
	position: absolute;
	top:50% !important;
	left: 50% !important;
	transform: translate(-50%,-50%);
}
nav.menu{
	width: 100px;
	height: 100%;
	float: right;
	position: fixed;
	right: -100%;
	background-color: #aaa;
}
nav.menu .menu_scroll{
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
}
nav.menu .menu_scroll li{
	float: none;
}
nav.menu .menu_scroll li a{
	display: block;
	line-height: 40px;
	text-align: center;
	color:white;
	font-weight: bold;
	font-size: 15px;
}
nav.menu .menu_scroll li a:first-child{
	padding-top: 10px;
}
nav.menu .menu_scroll li img{
	width: 35px;
	position: absolute;
	top: 220px;
	right: 18px;
}
nav.menu .menu_scroll li img.icon1{
	width: 33px;
	right: 20px;
	top: 170px;
}
nav.menu .menu_scroll li.active{
	background-color:#ddd;
}
.mainmenupg{
	height: 100%;
}
.menudetailpg{
	width: 97%;
	margin: 0 auto
}
.menudetailpg ul{}
.menudetailpg ul li{
	float: left;
	width: 45%;
	position: relative;
	margin-right: 2%;
	background: #fff;
	margin-bottom: 3%;
	border: 1px solid #ddd;
	overflow: hidden;
	margin-left: 2%;
}
.menudetailpg ul li img{
	width:100%;
}
.menudetailpg ul li h4{
	position: absolute;
	top:50%;
	right: 7%;
	transform: translateY(-50%);
	font-size: 12px;
}
.toggleMenu{display: block;}
.toggleMenu div{
	width: 35px;
	height: 5px;
	background: #fff;
	position: absolute;
	border-radius:3px;
	right:25px;
}
.toggleMenu .bar1{top:28px;}
.toggleMenu .bar2{top:38px;}
.toggleMenu .bar3{top:48px;}
.change div.bar1{
	right: 25px;
	top: 50%;
	transform:translateY(-50%) rotate(-45deg);
}
.change div.bar2{
	opacity:0;
}
.change div.bar3{
	right: 25px;
	top: 50%;
	transform:translateY(-50%) rotate(45deg);
}

/*SCROLL*/
.scroll{
	position: absolute;
	left: 50%;transform:translateX(-50%);
	bottom: 20px;
	animation:Scroll 0.7s infinite alternate;
	z-index: 1
}
@keyframes Scroll{
	from{bottom: 20px;}
	to{bottom: 40px;}
}



/*SLIDE*/
.slide{
	position: relative;
}
.view{
	position: absolute;
	width: 60%;
	border: 1px solid #ddd;
	background: #303030;
	border-right: 0 none;
	border-left: 0 none;
	opacity: 0.9;
	left:50%;top:50%;transform: translate(-50%,-50%);
}
.slide li{
	float: left;
	width: 100%;
	text-align: center;
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
	border-right: 0 none;
	border-left: 0 none;
	color:white;
}
.slide li:first-child{
	width: 100%;
	padding: 10px;
}
.slide li:nth-child(2n){
	border-right: 1px solid #ddd;
}
.slide h2{
	font-size: 14px;
}
.slide a{
	color:white;
}
.slide h4{
	font-size: 16px;
	margin-bottom: 10px;
}
.slide p{
	font-size: 12px;
	line-height: 20px;
}



/*FOOTER*/
.footer{
	height: 150px;
	background: #303030;
}
.footer h4{
	color:white;
	font-size: 2.0em;
	position: absolute;
	left: -28%;
}
.footer .footertxt{
	width: 500px;
	position: absolute;
	top: 50px;
	left: 30%;
}
.footer .footertxt p{
	color:#eee;
	font-size: 12px;
}

/*SPAN*/
.bold{font-weight: bold;}
.fsz16{font-size: 16px;}
.fsz12{font-size: 12px}