@charset "utf-8";

#second{background-image:url(../images/section2.jpg);}
#third{background-image: url(../images/section3.jpg);}
#fourth{background-image: url(../images/section4.jpg);}

body{height: 100%;}
/*--------------------------------------------------------------------------------------------------------*/


/*VIDEO*/
#myVideo{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION*/
.section{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

/*HEADER*/
header{
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0px;
}
header img{
	position: relative;
	z-index: 999;
	width: 18%;
	top: 0px;
}
.headerWrap{
	width: 100%;
	height: 30%;
	position: relative;
	top: 0;
}
.color_opacity{
	width: 100%;
	height: 100%;
	background-color: #09092d;
	opacity: 0.5;
	text-indent: -9999px;
	transition: 0.5s;
	position: absolute;
	top: 0px;
}


/*--------------------------------------------------------------------------------------------------------*/


/*MENU*/
nav.menuWrap{
	width: 100px;
	height: 100%;
	float: right;
	position: fixed;
	right: -100%;
	background-color: #223555;
}
nav.menuWrap .menu{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
}
nav.menuWrap .menu li{
	float: none;
}
nav.menuWrap .menu li a{
	display: block;
	line-height: 45px;
	text-align: center;
	color:white;
	font-weight: bold;
	font-size: 12px;
	font-family: 'Kufam', cursive;
}
nav.menuWrap .menu li a:after{
	content:"";
	display:block;
	width:0;
	height: 2px;
	background:#8fb4f2;
	transition:0.3s;
	margin:0 auto
}
nav.menuWrap .menu li a:hover:after{
	width: 100%;
}
.toggleMenu{
	display: block;
	cursor: pointer;
}
.toggleMenu div{
	width: 25px;
	height: 4px;
	background: #fff;
	position: absolute;
	border-radius:5px;
	right:15px;
}
.toggleMenu .bar1{top:20%;}
.toggleMenu .bar2{top:45%;}
.toggleMenu .bar3{top:72%;}
.change div.bar1{
	right: 15px;
	top: 50%;
	transform:translateY(-50%) rotate(-45deg);
}
.change div.bar2{
	opacity:0;
}
.change div.bar3{
	right: 15px;
	top: 50%;
	transform:translateY(-50%) rotate(45deg);
}

/*--------------------------------------------------------------------------------------------------------*/


/*SECTION FIRST*/
.scroll{
	width: 30px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	animation:Scroll 0.8s infinite alternate;
	z-index: 9999;
}
.scroll img{
	width: 100%;
}
@keyframes Scroll{
	from{bottom: 0px;}
	to{bottom: 5px;}
}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION SECOND*/
.bigAbout{
	position: relative;
	z-index: 999;
}
.bigAbout h1{
	color:white;
	text-shadow: 1px 1px 5px #000;
	font-size: 2em;
	text-align: center;
	font-family: 'Gamja Flower', cursive;
}
.background_opacity{
	width: 100%;
	height: 100%;
	background-color: #505050;
	opacity: 0.5;
	text-indent: -9999px;
	transition: 0.5s;
	position: absolute;
	top: 0px;
}

.about_us{
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 999
}
.about_us li{
	width: 210px;
	position: absolute;
	color:white;
	text-align: center;
	text-shadow: 1px 1px 5px #000;
	font-family: 'Gamja Flower', cursive;
}
.about_us li:first-child{
	top:-150px;
	left: 2%;
}
.about_us li:nth-child(2){
	top: -30px;
	right: 2%;
}
.about_us li:nth-child(3){
	top: 80px;
	left: 2%;
}
.about_us li h4{
	font-size: 20px;
	padding: 10px 0px;
	color:white;
}
.about_us li p{
	font-size: 14px;
}
.about_us img{
	width: 70%;
	border: 3px solid #fff;
	border-radius: 5px;
	position: absolute;
}
.imgOne{top: 0;right:-97%;transition:0.5s;opacity:0;}
.imgOne.move{top: 0;right:-67%;opacity:1;}
.imgTwo{top: 0;left:-97%;transition:1s;opacity:0;}
.imgTwo.move{top: 0;left:-67%;opacity:1;}
.imgThree{top: 0;right:-97%;transition:1.5s;opacity:0;}
.imgThree.move{top: 0;right:-67%;opacity:1;}
.bigAbout{top:-310px;transition:1s;opacity:0}
.bigAbout.down{top:-210px;opacity:1}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION THIRD*/
.bigProgram{
	position: relative;
	z-index: 999;
}
.bigProgram h1{
	color:white;
	text-shadow: 1px 1px 5px #000;
	font-size: 2em;
	text-align: center;
	font-family: 'Gamja Flower', cursive;
}
.slide{
	position: relative;
}
.view{
	position: absolute;
	width: 70%;
	left:50%;top:50%;transform: translate(-50%,-50%);
	padding: 10px;
	border-radius: 10px
}
.program li{
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
	color:white;
	text-shadow: 1px 1px 5px #000;
	font-family: 'Gamja Flower', cursive;
}
.slide .view .program li:nth-child(2){
	width: 100%;
	padding: 10px;
	margin-bottom: 0;
	text-align-last: left;
	color:#fff;
	text-shadow: none;
	border: 1px solid #aaa;
	height: 120px;
	border-radius: 10px;
}
.slide .view .program li img{
	width: 100%;
	padding-top: 10px;
}
.slide .view .program li h2{
	font-size: 1.7em;
	margin-bottom: 30px;
}
.slide .view .program li p{
	display: none;
}
.slide .view .program li h6{
	display: none;
}
.slide .view .program li a{
	font-size: 14px;
	padding: 8px;
	border: 1px solid #eee;
	color:white;
	border-radius: 10px;
	position: absolute;
	left: 20px;
	bottom: 25px;
}
.slide .view .program li a:hover{
	background-color: #fff;
	color:#1048a6;
	font-weight: bold;
}
.bigProgram{top:-190px;transition:1s;opacity:0}
.bigProgram.down{top:90px;opacity:1}

/*background*/
.bg_view1{background: #1048a6;}
.bg_view2{background: #153f85;}
.bg_view3{background: #18549b;}
.bg_view4{background: #04447a;}
.bg_view5{background: #1a4ca6;}
.bg_view6{background: #473776;}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION FOURTH*/
.bigTicket{
	position: relative;
	z-index: 999;
}
.bigTicket h1{
	color:white;
	text-shadow: 1px 1px 5px #000;
	font-size: 2em;
	text-align: center;
	font-family: 'Gamja Flower', cursive;
}
.ticketWrap{
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 999;
	padding:0 10px;
}
.ticket{}
.ticket li{
	width: 48%;
	float: left;
	background-color: #153f85;
	padding: 25px;
	margin-right: 4%;
	border-radius: 5px;
	color:white;
	position: relative;
	bottom:-100px;
	font-family: 'Gamja Flower', cursive;
}
.ticket li.ticket_two{
	margin-right: 0;
	background-color: #1a4ca6;
}
.ticket li h3{
	font-size: 20px;
	margin-bottom: 30px;
}
.ticket li p{
	font-size: 12px;
	margin-bottom: 20px;
}
.ticket li a{
	text-align: center;
	font-size: 12px;
	width: 110px;
	display: block;
	border: 2px solid #fff;
	padding: 10px;
	border-radius: 20px;
	color:white;
	font-weight: bold;
	transition: 0.3s
}
.ticket li.ticket_one a:hover{
	background-color: #fff;
	color:#153f85;
	font-weight: bold;
}
.ticket li.ticket_two a:hover{
	background-color: #fff;
	color:#1a4ca6;
	font-weight: bold;
}

.ticket_one{bottom:-100px;transition:1s;opacity:0;}
.ticket_one.up{bottom:0px;opacity:1;}
.ticket_two{bottom:-100px;transition:1.5s;opacity:0;}
.ticket_two.up{bottom:0px;opacity:1;}
.bigTicket{top:-130px;transition:1s;opacity:0}
.bigTicket.down{top:-30px;opacity:1}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION FIFTH*/
#video_content{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	z-index: -100;
}
.bigContact{
	position: relative;
	width: 100%;
	z-index: 999;
}
.bigContact h1{
	color:white;
	text-shadow: 1px 1px 5px #000;
	font-size: 2em;
	text-align: center;
	font-family: 'Gamja Flower', cursive;
}
.contactWrap{
	width: 100%;
	margin: 0 auto;
}
.contactWrap .contact{}
.contactWrap .contact li{
	width: 31.33%;
	float: left;
	text-align: center;
	border: 1px solid #eee;
	margin-right: 3%;
	position: relative;
	padding: 10px;
	margin-bottom: 3%;
	font-family: 'Gamja Flower', cursive;
	height: 150px;
}
.contactWrap .contact a{
	color:white;
}
.contactWrap .contact li:nth-child(3),
.contactWrap .contact li:nth-child(6){
	margin-right: 0%;
}
.contactWrap .contact li:nth-child(4),
.contactWrap .contact li:nth-child(5),
.contactWrap .contact li:nth-child(6){
	margin-bottom: 0;
}
.contactWrap .bg_opacity{
	text-indent: -9999px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #2b2f3e;
	opacity: 0.6;
}
.contactWrap .contact li h3{
	font-size: 15px;
	margin-bottom: 30PX;
	padding: 10px;
	border-bottom: 1px solid #eee;
	position: relative;
	z-index: 10;
}
.contactWrap .contact i{
	position: relative;
	z-index: 10;
	font-size: 30px;
}
.contactWrap li:hover .bg_opacity{
	opacity: 1;
	transition: 0.3s;
	background-color: #4bb4fe;
}

.contact_one{bottom:-120px;transition:1s;opacity:0;}
.contact_one.up{bottom:0px;opacity:1;}
.contact_two{bottom:-120px;transition:1.5s;opacity:0;}
.contact_two.up{bottom:0px;opacity:1;}
.contact_three{bottom:-120px;transition:2s;opacity:0;}
.contact_three.up{bottom:0px;opacity:1;}
.contact_four{bottom:-120px;transition:2.5s;opacity:0;}
.contact_four.up{bottom:0px;opacity:1;}
.contact_five{bottom:-120px;transition:3s;opacity:0;}
.contact_five.up{bottom:0px;opacity:1;}
.contact_six{bottom:-120px;transition:3.5s;opacity:0;}
.contact_six.up{bottom:0px;opacity:1;}

.bigContact{top:-210px;transition:1s;opacity:0}
.bigContact.down{top:-110px;opacity:1}


/*--------------------------------------------------------------------------------------------------------*/


/*FOOTER*/
.footer{
	width: 100%;
	position: relative;
	background: #dae2f6;
}
.footer .footertxt{
	width: 100%;
	margin: 0 auto;
}
.footer .footertxt li{
	width: 30%;
	float: left;
	margin: 30px 0px 30px 2%;
	color:#152238;
	font-size: 12px;
}
.footer .footertxt li:nth-child(2){
	margin-top: 60px;
	margin-left: 3%;
	width: 65%;
}
.footer .footertxt .footerImg{
	width: 100%;
}