@charset "utf-8";

#first{}
#second{background-image:url(../images/section2.jpg);}
#third{background-image: url(../images/section3.jpg);}
#fourth{background-image: url(../images/section4.jpg);}

body{height: 100%;}


/*--------------------------------------------------------------------------------------------------------*/


/*VIDEO*/
#myVideo{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION*/
.section{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

/*HEADER*/
header{
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0px;
}
header img{
	position: relative;
	z-index: 999;
	width: 170px;
	top: 0px;
}
.headerWrap{
	width: 100%;
	height: 71px;
	position: relative;
	top: 0;
}
.color_opacity{
	width: 100%;
	height: 100%;
	background-color: #303030;
	opacity: 0.5;
	text-indent: -9999px;
	transition: 0.5s;
	position: absolute;
	top: 0px;
}


/*--------------------------------------------------------------------------------------------------------*/


/*MENU*/
nav.menuWrap{
	width: 750px;
	position: absolute;
	z-index: 999;
	top: 0px;
	right: 0;
}
nav.menuWrap .menu li{
	width: 150px;
	float: left;
	text-align: center;
	font-size: 14px;
	font-family: 'Kufam', cursive;
}
nav.menuWrap .menu li a{
	display: block;
	font-weight: bold;
	color:white;
	padding: 25px;
}
nav.menuWrap .menu li a:after{
	content:"";
	display:block;
	width:0;
	height: 2px;
	background:skyblue;
	transition:0.3s;
	margin:0 auto
}
nav.menuWrap .menu li a:hover:after{
	width: 100%;
}
nav.menuWrap .menu li.active{
	font-size: 18px;
	transition: 0.3s
}
.toggleMenu{display: none;}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION FIRST*/

/*SCROLL*/
.scroll{
	width: 50px;
	position: absolute;
	bottom: 0;
	right: 10px;
	animation:Scroll 0.6s infinite alternate;
}
.scroll img{
	width: 40px;
}
@keyframes Scroll{
	from{bottom: 0px;}
	to{bottom: 5px;}
}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION SECOND*/
.background_opacity{
	width: 100%;
	height: 100%;
	background-color: #505050;
	opacity: 0.5;
	text-indent: -9999px;
	transition: 0.5s;
	position: absolute;
	top: 0px;
}

.about_us{
	width: 1300px;
	margin: 0 auto;
	position: relative;
	z-index: 999
}
.about_us li{
	float: left;
	width: 430px;
	height: 450px;
	color:white;
	text-align: center;
	text-shadow: 1px 1px 5px #000;
	border-right: 1px solid #fff;
	padding: 0px 30px;
	margin-bottom: 50px;
	position: relative;
	font-family: 'Gamja Flower', cursive;
}
.about_us li:nth-child(3){
	border-right: 0 none;
}
.about_us li h4{
	font-size: 40px;
	padding: 20px 0px;
	color:white;
}
.about_us li p{
	font-size: 25px;
	margin-bottom:20px;
}
.about_us img{
	width: 80%;
	border: 5px solid #fff;
	border-radius: 5px;
	position: absolute;
	transform: translateX(-50%);
	bottom:-20px;
}

.imgOne{bottom:-20px;transition:0.5s;opacity:0;}
.imgOne.move{bottom:20px;opacity:1;}
.imgTwo{bottom:-20p;transition:1s;opacity:0;}
.imgTwo.move{bottom:20px;opacity:1;}
.imgThree{bottom:-20p;transition:1.5s;opacity:0;}
.imgThree.move{bottom:20px;opacity:1;}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION THIRD*/

.slide{
	position: relative;
}
.view{
	position: absolute;
	width: 1150px;
	left:50%;top:50%;transform: translate(-50%,-50%);
	padding: 10px;
	border-radius: 10px
}
.program li{
	float: left;
	text-align: center;
	width: 600px;
	margin-right: 15px;
	color:white;
	text-shadow: 1px 1px 5px #000;
	font-family: 'Gamja Flower', cursive;
}
.slide .view .program li:nth-child(2){
	width: 500px;
	padding: 35px;
	margin-right: 0;
	text-align-last: left;
	color:#fff;
	text-shadow: none;
	border: 1px solid #aaa;
	height: 370px;
	border-radius: 10px;
}
.slide .view .program li img{
	width: 600px;
	padding-top: 10px;
}
.slide .view .program li h2{
	font-size: 2em;
	margin-bottom: 30px;
}
.slide .view .program li p{
	font-size: 20px;
	margin-bottom: 50px;
	color:#eee;
}
.slide .view .program li h6{
	font-size: 18px;
}
.slide .view .program li a{
	display: none;
}
/*background*/
.bg_view1{background: #1048a6;}
.bg_view2{background: #153f85;}
.bg_view3{background: #18549b;}
.bg_view4{background: #04447a;}
.bg_view5{background: #1a4ca6;}
.bg_view6{background: #473776;}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION FOURTH*/