@charset "utf-8";

#second{background-image:url(../images/section2.jpg);}
#third{background-image: url(../images/section3.jpg);}
#fourth{background-image: url(../images/section4.jpg);}

body{height: 100%;}
/*--------------------------------------------------------------------------------------------------------*/


/*VIDEO*/
#myVideo{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION*/
.section{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

/*HEADER*/
header{
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0px;
}
header img{
	position: relative;
	z-index: 999;
	width: 18%;
	top: 0px;
}
.headerWrap{
	width: 100%;
	height: 30%;
	position: relative;
	top: 0;
}
.color_opacity{
	width: 100%;
	height: 100%;
	background-color: #303030;
	opacity: 0.5;
	text-indent: -9999px;
	transition: 0.5s;
	position: absolute;
	top: 0px;
}


/*--------------------------------------------------------------------------------------------------------*/


/*MENU*/
nav.menuWrap{
	width: 100%;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 25%;
}
nav.menuWrap .menu li{
	width: 15%;
	float: left;
	text-align: center;
	font-size: 12px;
	font-family: 'Kufam', cursive;
}
nav.menuWrap .menu li a{
	display: block;
	font-weight: bold;
	color:white;
	padding-top: 17%;
}
nav.menuWrap .menu li a:after{
	content:"";
	display:block;
	width:0;
	height: 2px;
	background:skyblue;
	transition:0.3s;
	margin:0 auto
}
nav.menuWrap .menu li a:hover:after{
	width: 80%;
}
nav.menuWrap .menu li.active{
	font-size: 15px;
	transition: 0.3s
}
.toggleMenu{display: none}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION FIRST*/
.scroll{
	width: 40px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	animation:Scroll 0.8s infinite alternate;
	z-index: 1
}
.scroll img{
	width: 100%;
}
@keyframes Scroll{
	from{bottom: 0px;}
	to{bottom: 5px;}
}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION SECOND*/
.bigAbout{
	display: none;
}
.background_opacity{
	width: 100%;
	height: 100%;
	background-color: #505050;
	opacity: 0.5;
	text-indent: -9999px;
	transition: 0.5s;
	position: absolute;
	top: 0px;
}

.about_us{
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 999
}
.about_us li{
	float: left;
	width: 32%;
	height: 170px;
	color:white;
	text-align: center;
	text-shadow: 1px 1px 5px #000;
	border-right: 1px solid #fff;
	padding: 0px 30px;
	margin-bottom: 50px;
	position: relative;
	font-family: 'Gamja Flower', cursive;
}
.about_us li:nth-child(3){
	border-right: 0 none;
}
.about_us li h4{
	font-size: 25px;
	padding: 20px 0px;
	color:white;
}
.about_us li p{
	font-size: 16px;
	margin-bottom: 20px;
}
.about_us img{
	width: 80%;
	border: 4px solid #fff;
	border-radius: 5px;
	position: absolute;
	transform: translateX(-50%);
	bottom:-20px;
}
.about_us img.imgOne{
	top: 220px;
}
.about_us img.imgTwo{
	top: 220px;
}
.about_us img.imgThree{
	top: 220px;
}
.about_us img.imgOne:hover{
	transform: translate(80%,40%) scale(2.3);
	transition: 0.8s;
	z-index: 2
}
.about_us img.imgTwo:hover{
	transform: translate(-50%,40%) scale(2.3);
	transition: 0.8s;
	z-index: 2
}
.about_us img.imgThree:hover{
	transform: translate(-175%,40%) scale(2.3);
	transition: 0.8s;
	z-index: 2
}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION THIRD*/
.bigProgram{
	display: none;
}
.slide{
	position: relative;
}
.view{
	position: absolute;
	width: 70%;
	left:50%;top:50%;transform: translate(-50%,-50%);
	padding: 10px;
	border-radius: 10px
}
.program li{
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
	color:white;
	text-shadow: 1px 1px 5px #000;
	font-family: 'Gamja Flower', cursive;
}
.slide .view .program li:nth-child(2){
	width: 100%;
	padding: 25px;
	margin-bottom: 0;
	text-align-last: left;
	color:#fff;
	text-shadow: none;
	border: 1px solid #aaa;
	height: 300px;
	border-radius: 10px;
}
.slide .view .program li img{
	width: 100%;
	padding-top: 10px;
}
.slide .view .program li h2{
	font-size: 1.5em;
	margin-bottom: 30px;
}
.slide .view .program li p{
	font-size: 16px;
	margin-bottom: 50px;
	color:#eee;
}
.slide .view .program li h6{
	font-size: 14px;
}
.slide .view .program li a{
	display: none;
}
/*background*/
.bg_view1{background: #1048a6;}
.bg_view2{background: #153f85;}
.bg_view3{background: #18549b;}
.bg_view4{background: #04447a;}
.bg_view5{background: #1a4ca6;}
.bg_view6{background: #473776;}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION FOURTH*/
.bigTicket{
	display: none;
}
.ticketWrap{
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 999;
	padding:0 10px;
}
.ticket{}
.ticket li{
	width: 48%;
	float: left;
	background-color: #153f85;
	padding: 25px;
	margin-right: 4%;
	border-radius: 5px;
	color:white;
	position: relative;
	bottom:-100px;
}
.ticket li.ticket_two{
	margin-right: 0;
	background-color: #1a4ca6;
}
.ticket li h3{
	font-size: 25px;
	margin-bottom: 30px;
}
.ticket li p{
	font-size: 16px;
	margin-bottom: 20px;
}
.ticket li a{
	text-align: center;
	font-size: 14px;
	width: 120px;
	display: block;
	border: 2px solid #fff;
	padding: 10px;
	border-radius: 20px;
	color:white;
	font-weight: bold;
	transition: 0.3s
}
.ticket li.ticket_one a:hover{
	background-color: #fff;
	color:#153f85;
	font-weight: bold;
}
.ticket li.ticket_two a:hover{
	background-color: #fff;
	color:#1a4ca6;
	font-weight: bold;
}

.ticket_one{bottom:-100px;transition:1s;opacity:0;}
.ticket_one.up{bottom:0px;opacity:1;}
.ticket_two{bottom:-100px;transition:1.5s;opacity:0;}
.ticket_two.up{bottom:0px;opacity:1;}


/*--------------------------------------------------------------------------------------------------------*/


/*SECTION FIFTH*/
#video_content{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	z-index: -100;
}
.bigContact{
	display: none;
}