@charset "utf-8";
      body{font-family: 'Source Sans Pro', sans-serif;} /*익스플로러로 확인 필수*/
      /*top menu*/
      div.gnbWrap{
        width: 1200px;
        height: 70px;
        _background-color: #f00;
        margin: 0 auto;

        position: relative;
        padding-top: 15px;
      }
      /*relative있을때height쓰고 왠만하면 자동으로 길어지게 안쓰기*/
      div.gnbWrap>a:hover{
        background-color: #fff;
      }
      div.gnbWrap>div.gnbMenu{
        position: absolute;
        left:200px;
        width: 700px;
      }
      div.gnbWrap>div.gnbMenu:after{
        content:"";
        display: block;
        clear:both;
      }
      div.gnbWrap>div.gnbMenu>li{
        float:left;
        width:25%;
      }
     div.gnbWrap>div.gnbMenu>li>a{
        display: block;
        text-align: center;
        line-height:45px;
      }
      div.gnbWrap>div.gnbMenu>li:first-child>a{
        text-decoration: underline #aaa;
      }
      /*top login*/
      div.gnbWrap>div.gnbLogin{position: absolute;right:0;top:15;width: 250px;}

      div.gnbWrap>div.gnbLogin:after{
        content:"";
        display: block;
        clear:both;
      }
      div.gnbWrap>div.gnbLogin>li{float:left;width: 50%;}
      div.gnbWrap>div.gnbLogin>li>a{display: block;text-align: center;line-height: 45px}
      div.gnbWrap>div.gnbLogin>li:nth-child(2){
        background-color:navy;
        border-radius: 70px;
      }
      div.gnbWrap>div.gnbLogin>li:last-child>a{
        color:white;
      }
      div.gnbWrap img{position: absolute;top:0;}
      div.gnbWrap>div.gnbMenu>li>a:hover{background-color:#eee;border-radius: 70px;}
      div.gnbWrap>div.gnbLogin>li>a:hover{background-color: #eee;border-radius: 70px;}


      /*img slide*/
      .visual{}
      .visual .view{
        width: 1200px;
        position: relative;
        height: 560px;
        margin: 0 auto;
    }
      .visual .slider li{
        overflow: hidden;
    }
      .visual .slider img.img{
        position: absolute;
        left: 50%;
        width: 950px;
    }
      .visual .visualTxt{
        position: absolute;
        top:150px;
        width: 500px;
    }
      .visual .visualTxt p:first-child{
        font-size: 50px;
        margin-bottom: 20px;
        font-weight: bolder;
    }
      .visual .visualTxt p{
        margin-bottom: 40px;
        font-size:12px;
    }
      .visual .visualTxt a{
        display: block;
        width: 140px;
        height: 40px;
        background:navy;
        color: white;
        border-radius: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        box-shadow: 5px 5px #eee;
    }
      .navy{color:navy;}
      .bx-wrapper{
       -moz-box-shadow:none;
       -webkit-box-shadow:none;
       box-shadow:none;
       border: 0 none;
       margin-bottom: 0;
    }
      .bx-wrapper .bx-pager{
       bottom:30px;
    }

    /*Save Money*/
      .saveM{
        width: 100%;
        background-color: #f8f9ff;
      }
      .saveM .saveMTxt{
        width: 1200px;
        margin: 0 auto;
        text-align: center;
        padding: 70px 0;
      }
      .saveM .saveMTxt p:first-child{
        font-size:40px;
        font-weight: bold;
      }
      /*content*/
      div.conWrap{
        margin: 0 auto;
        width: 1200px;
      }
      div.conWrap .content{
        float: left;
        width: 500px;
        height: 550px;
        padding-top: 100px;
      }
      div.conWrap .content p:first-child{
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: bolder;
      }
      div.conWrap .content p{
        font-size: 12px;
        margin-bottom: 40px;
      }
      div.conWrap .content a{
        display: block;
        width: 140px;
        background:navy;
        color: white;
        border-radius: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        box-shadow: 5px 5px #eee;
      }
      div.conWrap .boxWrap{
      float: right;
      width: 400px;
      height: 500px;
      margin-right: 100px;
      padding-top: 60px;
    }
     div.conWrap .boxWrap li{
      float: left;
      width: 150px;
      height: 170px;
      margin-bottom: 40px;
      text-align: center;
      padding-top: 20px;
      transition: 0.3s;
      box-shadow: 0px 0px 15px #ddd;
      cursor: pointer;
      font-size: 14px;
    }
    div.conWrap .boxWrap li img{
      margin-bottom: 10px;
      width: 90px;
      height: 90px;
    }
    div.conWrap .boxWrap li:nth-child(1), div.conWrap .boxWrap li:nth-child(3){
      margin-right: 40px;
    }
     div.conWrap .boxWrap li:nth-child(2){
      background-color:#f8f9ff;
    }

      /*visual2*/
      .visualTwo{
        background-color: #f8f9ff;
        position: relative;
        height: 500px;
        margin: 0 auto;
      }
      .visualTwo .viewTwo{
        position: relative;
        height: 580px;
        margin: 0 auto;
        width: 1200px;
    }

     .visualTwo .viewTwo img.img2{
        position: absolute;
        left: 50%;
        width: 950px;
        height: 500px;
    }
      .visualTwo .visualTxtTwo{
        position: absolute;
        top:150px;
        width: 500px;
    }
      .visualTwo .visualTxtTwo p:first-child{
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: bolder;
    }
      .visualTwo .visualTxtTwo p{
        margin-bottom: 40px;
        font-size:12px;
    }
      .visualTwo .visualTxtTwo a{
        display: block;
        width: 140px;
        height: 40px;
        background:navy;
        color: white;
        border-radius: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        box-shadow: 5px 5px #eee;
    }

    /* solution */
    .solution{}
    .solution .solutionTxt{
        width: 1200px;
        margin: 0 auto;
        text-align: center;
        padding: 70px 0;
    }
    .solution .solutionTxt p{
      font-size: 30px;
      font-weight: bold;
    }
    .solutionA{
      width: 290px;
      margin: auto;
      padding-top: 70px;
    }
    .solution a{
        display: block;
        width: 140px;
        height: 50px;
        background:#f8f9ff;
        border-radius: 40px;
        text-align: center;
        line-height: 50px;
        font-size: 14px;
        float: left;
    }
    .solution a:hover{
      background:navy;
      color:white;
    }

    /*question*/
    .question{}
    .questionTxt{
      margin: 0 auto;
      width: 1200px;
      text-align: center;
    }
    .question p{
      font-size: 14px
    }
    .question p:first-child{
      font-size:30px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    /*number*/
    .numberWrap{padding: 150px 0;}
    .number{
      width: 1200px;
      margin: 0 auto;
    }
    .number li{
      width: 800px;
      height: 100px;
      border: 1px solid #eee;
      border-radius: 50px;
      box-shadow: 0px 0px 20px #eee;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    .number li p{
      line-height: 100px;
      font-weight: bold;
      margin-left: 40px;
    }
    .number img{
      float: right;
      margin-right: 40px;
      padding-top: 15px;
    }
    .number li:hover{
      box-shadow: 0px 0px 15px navy;
    }

    /*visual3*/
      .visualThree{
        position: relative;
        height: 500px;
        margin: 0 auto;
      }
      .visualThree .viewThree{
        position: relative;
        height: 580px;
        margin: 0 auto;
        width: 1200px;
    }

     .visualThree .viewThree img.img3{
        position: absolute;
        left: 50%;
        width: 700px;
        height: 500px;
    }
      .visualThree .visualTxtThree{
        position: absolute;
        top:150px;
        width: 500px;
    }
      .visualThree .visualTxtThree p:first-child{
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: bolder;
    }
      .visualThree .visualTxtThree p{
        margin-bottom: 40px;
        font-size:12px;
    }
      .visualThree .visualTxtThree a{
        display: block;
        width: 140px;
        height: 40px;
        background:navy;
        color: white;
        border-radius: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        box-shadow: 5px 5px #eee;
    }
    /*footer*/
      .footerWrap{
        background-color: #f8f9ff;
        padding-bottom: 30px;
      }
      .footerWrap .footer{
        margin: 0 auto;
        width: 1200px;
        _height: 150px;
      }
      .footerWrap .footerL{
        float: left;
        width: 500px;
        padding-top: 50px;
      }
      .footerWrap .footerL .logo{
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        padding-top: 20px
      }
      .footerWrap .footerL p{
        padding-top: 30px;
        text-align: left;
        font-size: 14px;
      }
      .footerWrap .footerR{
        float: right;
        width: 500px;
        padding-top: 20px;
      }
      .footerWrap .footerR ul{
        padding-top: 100px;
        float: right;
      }
      .footerWrap .footerR li{
        float: left;
        width: 150px;
        height: 170px;
        margin-bottom: 40px;
        text-align: left;
        padding-top: 20px;
        cursor: pointer;
        font-size: 14px;
      }
      .footerWrap .footerR li h3{
        margin-bottom: 30px;
      }
      .footerWrap .footerR li p{
        font-size: 14px;
      }
      /*footer bottom*/
      .footerBottom{
        width: 1200px;
        margin: 0 auto;
        border-top: 1px solid #ddd;
        padding-top: 10px;

      }
      .footerBottom li{
        float: left;
        text-align: center;
      }
      .footerBottom li p{
        font-size:14px;
      }
      .footerBottom .left{
        float: left;
      }
      .footerBottom .right{
        float: right;
        width: 400px;
        margin-right: 0;
      }
      .footerBottom .right p{
        float: left;
        width: 50%;
        text-align: right;
      }