@charset "utf-8";




/*header*/
.headerWrap{}
.header{
	background-color: #086ca7;
	background-image: url(../images/plane.png);
	background-repeat: no-repeat;
	background-position: center;
	
}
.topWrap{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}
.top{
	position: relative;
}
.logo img{
	width: 167px;
	position: absolute;
	top: 5px;
}
.searchWrap{
	position: absolute;
	top: 28px;
	left: 450px;
}
.search{
	width: 300px;
	height: 30px;
	background:white;border-radius: 50px;
	position: relative;
}
.search li{
	line-height: 27px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
}
.search .inp-field{
	width: 150px;
	height: 30px;
	border: 0 none;
	color:#999;
	font-size: 14px;
	text-indent:12px;
	position: absolute;
	top: 0;right: 70px;
}
.search img{
	position: absolute;
	right: 30px;
	top:3px;
	right: 10px;
	width: 30px;
}
.blind{
	display: block;
	position: absolute;
	left: 0;
	top: -9999px;
}
.number{
	position: absolute;
	top: 22px;
	right: 160px;
}
.number a{
	color:white;
	font-size: 25px
}
.sns{
	position: absolute;
	right: 0;
	top: 25px;
}
.sns img{
	width: 30px;
	height: 30px;
}
.menuWrap{}
.menugnb{
	width: 100%;
	border-bottom: 8px solid #086ca7;
}
.menu{
	width: 1200px;
	margin: 0 auto;
}
.menu>ul{}
.menu>ul>li{
	float: left;
	line-height: 50px;
	font-weight: bold;
	width: 200px;
	border-right: 1px solid #eee;
	text-align: center;
	line-height: 50px;
}
.menu>ul>li>a{
	display: block;
}
.menu>ul>li:first-child{
	border-left: 1px solid #eee;
}

/*content*/
.content{
	height: 1250px;
	background-image: url(../images/00bg_dot.gif), url(../images/bg.jpg);
	background-repeat: repeat, no-repeat;
 	background-position: center;
  	background-size:auto, cover;
}
.content .containerOne{
	width: 1200px;
	margin: 0 auto;
}
.content .containerOne .section .reservation{}
.content .containerOne .section .reservation li{}
.content .containerOne .section .travelGo{}
.content .containerOne .section .travelGo{}

.content .containerTwo{
	width: 1200px;
	margin: 0 auto;
}
.content .containerTwo>ul{}
.content .containerTwo>ul>li{}
.content .containerTwo>ul>li:nth-child(1){}
.content .containerTwo>ul>li:nth-child(2){}
.content .containerTwo>ul>li:nth-child(3){}
.content .containerTwo>ul>li:nth-child(4){}
.content .containerTwo>ul>li:nth-child(5){}
.content .containerTwo>ul>li:nth-child(6){}
.content .containerTwo>ul>li:nth-child(7){}
.content .containerTwo>ul>li:nth-child(8){}
.content .containerTwo>ul>li:nth-child(9){}
.content .containerTwo>ul>li:nth-child(10){}
