@charset "utf-8";

/*header*/
header#header_wrap{} /*가두는애*/
.utilMenuWrap{
  background: #0044af;
}
.util_menu{
  width: 1200px;
  margin: 0 auto;
  _background: #fff;
}
.util_menu ul.left{float: left;}
.util_menu ul.left li{
  float: left;
  width: 120px;
  margin-right: 2px;
}
.util_menu ul.left li a{
  display: block;
  line-height: 40px;
  text-align: center;
  background: #00163b;
  color:#fff;
  font-weight: bold;
}
.util_menu ul.left li a.active{
  background: #fff;
  color: #333;
}
.util_menu ul.right{float: right;}
.util_menu ul.right li{
  float: left;
  color: #fff;
  font-size: 0.8em;
}
.util_menu ul.right li:first-child{
  line-height: 40px;
  padding-right: 10px;
}
.util_menu ul.right li:last-child a{
  padding-right: 0;
}
.util_menu ul.right li.btn_mp a{
  float: left;
  background: #fff;
  line-height: 20px;
  margin-right: 2px;
  color: #333;
  width: 20px;
  padding: 0;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  text-indent: -1px;
  height: 21px;

}
.util_menu ul.right li a{
  padding:0 10px;
  display: block;
  color: #fff;
  line-height: 40px;
}
.main_gnb{
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0px;
  position: relative;
}
.main_gnb h1{
  background: url(../images/main_logo.jpg) no-repeat;
  width: 212px;
  height: 53px;
}
.main_gnb h1 a{
  display: block;
  line-height: 53px;
  text-indent: -9999px;
}
.main_gnb .navWrap{
  width: 760px;
  position: absolute;
  top: 33px;
  right: 0;
}
.main_gnb .navWrap ul.nav{float: left;}
.main_gnb .navWrap ul.nav li{float: left;}
.main_gnb .navWrap ul.nav li a{
  display: block;
  color: #464646;
  font-size: 1.2em;
  width: 130px;
  line-height: 45px;
  font-weight: bold;
}
.main_gnb .navWrap .btnToggle{float: right;}
.main_gnb .navWrap .btnToggle a{
  display: block;
  width: 45px;
  height: 45px;
  float: left;
  background-image: url(../images/toggle_btn.gif);
  background-repeat: no-repeat;
  text-indent: -9999px;
  }
.main_gnb .navWrap .btnToggle .toggle{
  background-position: 0 0;
}
.main_gnb .navWrap .btnToggle .my{
  background-position: -45px 0;
}

/*title*/
#contents .title{
  width: 1200px;
  height: 260px;
  margin: auto;
}
.title .leftTxt{
  float: left;
}
.title .leftTxt li{
  font-size: 2.5em;
  padding-top: 100px;
}
.title .leftTxt li p{
  color:white;
}
.title .leftTxt li:nth-child(2){
  font-weight: bold;
  font-size: 3.5em;
  padding-top: 0px;
}
.title .rightTxt{
  float: right;
  padding-top: 90px;
}
.title .rightTxt li{
  float: left;
  height:100px;
  width: 100px;
  display: block;
  border: 1px solid #fff;
  border-radius:100px;
  margin-left: 20px;
}
.title .rightTxt li p{
  text-align: center;
}
.title .rightTxt li img{
  width: 100px;
  height: 100px;
}
.title .leftTxt a,
.title .rightTxt a{
  display: block;
  color: white
}
/*contents*/
div#contents{
  height: 1300px;
  background-image: url(../images/00bg_dot.gif), url(../images/00main_bg01.jpg);
  background-repeat: repeat, no-repeat;
  background-position: center;
  background-size:auto, cover;
}
#contents .container{
  width: 1200px;
  margin: 0 auto;
}
#contents .container>ul>li{
  float: left;
  width: 25%;
  height: 225px;
}
#contents .container>ul>li:nth-child(1){background: #f00;width: 75%;height: 450px;}
#contents .container>ul>li:nth-child(2){background: #ff0;height: 450px;}
#contents .container>ul>li:nth-child(3){background: #00163b;}
#contents .container>ul>li:nth-child(4){background: #1651b7;}
#contents .container>ul>li:nth-child(5){background: #fff;}
#contents .container>ul>li:nth-child(6){background: skyblue;}
#contents .container>ul>li:nth-child(7){background: orange;}
#contents .container>ul>li:nth-child(8){background: aqua;width: 75%;}
#contents .container>ul>li:nth-child(9){background: #fff;width: 1200px;height: 60px;margin-top: 20px;}
/*box2*/
.mobileWrap{
  overflow: hidden;position: relative;
}
.mobileWrap .mobileTxt{
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 2.0em;
  color:white;
}

.mobileWrap .mobileTxt p{
  padding-top: 45px;
}
.mobileWrap .mobileTxt p:nth-child(2){
    font-size: 18px;
    padding-top: 20px;
  }
.mobileWrap .mobileTxt a{
  display: block;
  width: 160px;
  line-height: 40px;
  font-size: initial;
  text-align: center;
  background: #362500;
  color:white;
  opacity: 0.7;
  border: 1px solid #fff;
  margin-top: 20px;
}
/*box3*/
.hotLink{
  float: left;
}
.hotLink h3{
  padding-left: 10px;
  color:white;
  padding-top: 20px;
}
.hotLink li{
  float: left;
  height:75px;
  width: 75px;
  display: block;
  border-radius:75px;
  background:white;
  margin-right: 8px;
  margin-left: 15px;
  margin-top: 30px;
}
.hotLink li p{
  text-align: center;
  padding-top: 10px;

}
.hotLink li img{
  width: 75px;
  height: 75px;
}
.hotLink a{
  display: block;
  color: white
}
/*box4*/
.inform li{
  color:white;
}
.inform li.information h3{
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  width: 95%;
  margin: 0 auto;
}
.inform li.informTxt{
  float: left;
  padding-top: 20px;
  font-size: 14px;
}
.inform li.informTxt p{
  padding: 8px 0px;
}
.inform li.informDate{
  float: right;
  padding-top: 20px;
  font-size: 14px;
}
.inform li.informDate p{
  padding: 8px 0px;
  padding-right: 10px;
}
/*box5*/
.news li{}
.news li.newsMain h3{
  font-weight: bold;
  padding-top: 20px;
  padding-left: 10px;
}
.news li.newsTxt{
  padding-left: 10px;
  padding-top: 20px;
}
.news li.newsTxt img{
  float: left;
}
.news li.newsTxt p{
  float: right;
  font-size: 14px;
  padding-right: 20px;
  padding-top: 3px;
  line-height: 20px;
}
.news li.newsSns{
  float: right;
  padding-top: 30px;
  padding-right: 15px;
}
.news li.newsSns img{
  width: 30px;
  height: 30px;
}
/*box6*/
.tour{
  position: relative;
}
.tour li.campus{
  background: black;
  height: 50px;
  position: absolute;
  width: 300px;
  bottom: 0;
  opacity:0.7;
  color:white;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
}
/*slider box1*/
.viewSlider{}
  .viewSlider .sliderTxt{
    position: absolute;
    left: 80px;
    top: 80px;
    font-size:3em;
    color:#1550b6;
  }
  .viewSlider .sliderTxt p{
    margin-bottom:20px;
  }
  .viewSlider .sliderTxt a{
    display: block;
    width: 160px;
    line-height:40px;
    font-size:initial;
    text-align: center;
    background: #182c4d;
    color:white;
    margin-top: 43px;
  }
  .bx-wrapper{
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 0 none;
      margin-bottom:0;
  }
  /*slider box8*/
  .sliderTwo .bx-wrapper .bx-pager{
    bottom: 190px;
    width: 150px;
    right:0;
  }
  .viewSliderTwo .sliderTxtTwo{
    position: absolute;
    left: 50px;
    top: 30px;
    font-size: 2.0em;
    color:#fd5449;
  }
  .viewSliderTwo .sliderTxtTwo p:nth-child(2){
    font-size: 1.4em;
    font-weight: bold;
  }
  .viewSliderTwo .sliderTxtTwo p{
    margin-bottom: 5px;
  }
  .viewSliderTwo .sliderTxtTwo a{
    display: block;
    width: 160px;
    line-height: 40px;
    font-size: initial;
    text-align: center;
    background: #fd5449;
    color: white;
    opacity: 0.9;
  }

/*contents Bottom*/
.conB{
  width: 1200px;
  height: 50px;
  _background: #fff;
  margin-top: 20px;
  position: relative;
}
.conBL{
  width: 300px;
  position: absolute;
  background: #fff;
  left: 0;
  border-right: 1px solid #000;
}
.conB>.conBL{}
.conB>.conBL>ul>li{
  float: left;
  width: 140px;
  text-align: center;
  line-height: 50px;
  display: block;
  font-weight: bold;
}
.conB>.conBR{
  width: 900px;
  position: absolute;
  left: 300px;
  background: #fff;
}
.conB>.conBR>ul>li{
  float: left;
  text-align: center;
  width: 320px;
  line-height: 50px;
  display: block;
}
.conB>.conBR>ul>li:nth-child(2){
  font-size: 14px;
  width: 510px;
}
.conB>a>img{
  position: absolute;
  height: 50px;
  right: 0;
}





  /*footer*/
  footer#footerWrap{
    height: 160px;
  }
  footer#footerWrap .footer{
   width: 1200px;
   margin: 0 auto;    position: relative;
  }
  footer#footerWrap .footer .footerT{

    margin: 0 auto;
    width: 900px;
    _background: #ff0;
    float: right;
    margin-bottom: 15px
    padding-left: 0;
  }
  footer#footerWrap .footer .footerT li{
    float: left;
    text-align:left;
    width: 110px;
    font-size: 14px; 
    position: relative;
    padding-top: 20px;
  }
  footer#footerWrap .footer .footerT li.korUni:after{
    content:"";
    display: block;
    width: 1px;
    height: 16px;
    background-color:black;
    position: absolute;
    top:22px;
    left:-30px;
  }
  footer#footerWrap .footer .footerTR li{
    width: 150px;
  }
  footer#footerWrap .footer .footerTR li:nth-child(2){
    width: 95px;
  }
  footer#footerWrap .footer .footerTR li:nth-child(3){
    width: 175px;
  }
  footer#footerWrap .footer .footerT .footerTR li:after{
    content:"";
    display: block;
    width: 1px;
    height: 16px;
    background-color:black;
    position: absolute;
    top:22px;
    left:-3px;
  }
  footer#footerWrap .footer .footerM{
    font-size: 13px;
    color:gray;
    padding-bottom: 10px;
  }
  footer#footerWrap .footer .footerM p{
    padding-bottom: 5px;
  }
  footer#footerWrap .footer .footerB{
    font-size: 13px
  }