@charset "utf-8";

#fisrt{background-image: url(../images/agra1.jpg);}
#second{background-image: url(../images/agrabrand.png);}
#third{background-image: url(../images/agra2.jpg);}


.section{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}
.slider_wrap ul li{height: 1005px;}
.slider_wrap li.first{
	background:url(../images/agra1.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap li.second{
	background:url(../images/agra3.jpg) no-repeat center;
	background-size:cover;
}

.section .colortxt{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.3;
	text-indent: -9999px;
	position: relative;
	transition: 0.4s;
}
.section:hover .colortxt{
	opacity: 0.6;
}
.section h3{
	color:white;
	font-size: 2em;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.logo{
	width: 100px;
}
.logo h2{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 3em;
	position: fixed;
	z-index: 1;
	color:white;
	background-color:#303030;
}
nav.menu{
	width: 100px;
	height: 200px;
	background-color:#eee;
	position: fixed;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	border-radius: 30px 0 0 30px;
}
nav.menu .menu_scroll{}
nav.menu .menu_scroll li{}
nav.menu .menu_scroll li a{
	display: block;
	line-height: 35px;
	text-align: center;
	color:#303030;
	font-weight: bold;
	font-size: 15px;
}
nav.menu .menu_scroll li a:first-child{
	padding-top: 10px;
}
nav.menu .menu_scroll li img{
	width: 35px;
	position: absolute;
	bottom: 20px;
	right: 15px;
}
nav.menu .menu_scroll li img.icon1{
	left: 15px;
	width: 33px;
	bottom: 22px;
}
nav.menu .menu_scroll li.active{
	background-color:#ddd;
	border-radius: 30px 0 0 30px;
}
.scroll{
	position: absolute;
	left: 50%;transform:translateX(-50%);
	bottom: 20px;
	animation:Scroll 0.7s infinite alternate;
}
@keyframes Scroll{
	from{bottom: 20px;}
	to{bottom: 40px;}
}
.footer{
	height: 200px;
	background: #303030;
}
.footer h4{
	color:white;
	font-size: 2.5em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 350px;
}
.footer .footertxt{
	width: 800px;
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
}
.footer .footertxt p{
	color:#eee;
	padding-bottom: 10px;
	font-size: 14px;
}