@charset "utf-8";

body{min-width: 922px}
/*header*/
#header{position: relative;}
#header.main{height: 1760px;}
#header_top{
	width: 100%;height: 50px;position: absolute;_background-color:skyblue;
	z-index:1
}
#header_top h1{float: left;line-height:50px;padding-left:10px;}
#header_top h1 a{color:white;}
#header_top #main_menu{
	position: fixed;
	width: 30%;
	height: 100%;
	background:#333;
	right: -100%;
}
#main_menu ul{
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
}
#main_menu>ul>li{float: none;text-align: center;}
#main_menu a.mainMenu{display: block;line-height:50px;padding:0 30px;color:white;font-weight:bold;}
#main_menu a.mainMenu:after{
	content:"";display:block;width:0;height: 2px;
	background:white;transition:0.3s;margin:0 auto}
#main_menu a.mainMenu:hover:after{width: 100%;}
#header_top .toggleMenu{display: block}

.smenu{
	width: 100%;
	display: none;
}
.smenu li{
	float: left;
	padding: 10px;
	font-size: 14px;
}
.smenu li a{
	color:white;
	display: none;
}
.language{
	display: none;
}
#main_menu li:hover .smenu{
	display: block;
	position: absolute;
	left: 100px;
}
.smenu li:hover{
	background-color: #a1c397;
	border-radius: 20px;
}
.toggleMenu div{
	width: 35px;height: 5px;background: #fff;
	position: absolute;border-radius:3px;right:25px;
}
.toggleMenu .bar1{top:11px;}
.toggleMenu .bar2{top:21px;}
.toggleMenu .bar3{top:31px;}
.change div.bar1{
	right: 25px;
	top: 50%;
	transform:translateY(-50%) rotate(-45deg);
}
.change div.bar2{
	opacity:0;
}
.change div.bar3{
	right: 25px;
	top: 50%;
	transform:translateY(-50%) rotate(45deg);
}
/*bxslider*/
.slider_wrap ul li{height: 500px;}
.slider_wrap li.first{
	background-color: #537564;
}
.slider_wrap li.second{
	background-color: #879588;
}
.slider_wrap .bigSlide{
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.slider_wrap .bigSlide img{
	width: 800px;
}
.slider_wrap .slider_txt{
	width: 360px;position: absolute;
	left: 500px;top:120px;color:white;text-align: left;
}
.slider_wrap h3{
	font-size:2.5em;
	text-shadow:0 0 10px #333;
	margin-bottom: 10px;
}
.slider_wrap h4{
	font-size: 1.5em;
	margin-bottom: 60px;
}
.slider_wrap p{
	font-size: 14px;
	margin-bottom: 50px;
}
.slider_wrap a{
	color:white;
	font-size: 14px;
}
.slider_wrap a.btn{
	width: 150px;
	text-align: center;
	padding: 10px;
	display: block;
	background: #a1c397;
	border-radius: 30px;
}

.slider_wrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}

.slider_wrap .bx-pager{bottom: 30px;}

/*content*/
#header .content{
	width: 922px;height: 1260px;position: absolute;
	left:50%;transform: translateX(-50%);background-color: #fff;bottom:0;}

		.content>ul>li{float: left;width: 307.3333px;height: 315px;_border: 1px solid #000;}
		.content>ul>li:nth-child(2n){background:skyblue;}
		.content>ul>li:nth-child(5){width: 614.6666px;height: 100px;}

/*content1*/
.conOne{
	position: relative;
	background-color: #2d4f7c;
}
.conOne img{
	width: 130px;
	position: absolute;
}
.conOne .conOneImgOne{
	left: 30px;
	top: 30px;
}
.conOne .conOneImgTwo{
	left: 90px;
	top: 33px;
}
.conOne .conOneImgThree{
	left: 150px;
	top: 30px;
}
.conOne p{
	width: 200px;
	position: absolute;
	color:white;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}
.conOne a.btn{
	color:white;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
/*content2*/
.conTwo{
	position: relative;
}
.conTwo img{
	width: 315px;
	height: 315px;
}
.conTwo i{
	font-size: 50px;
	color:white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
/*content3*/
.conThree{
	position: relative;
}
.conThree .txtSlide{}
.conThree .txtSlide li{
	background: #386b64;
	width: 315px;
	height: 315px;
	text-align: left;
	padding: 25px;
}
.conThree .txtSlide li h3{
	margin-bottom: 30px;
	font-size: 20px;
	color:white;
}
.conThree .txtSlide li a{
	color:white;
	font-size: 16px;
}
.conThree .bx-pager{bottom: 20px;}
.content .conThree .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow:  none;
    box-shadow:  none;
    border: 0 none;
}
.pagerTwo{
	position: absolute;
	bottom: 10px;
	right: 0;
}
.pagerTwo a{
	background-color:white;
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-right: 10px;
}
.pagerTwo a:hover{background-color:gray;}
.pagerTwo a.active{background-color:#2c4d7b;}
/*content4*/
.conFour .imgSlide{}
.conFour .imgSlide img{
	width: 315px;
	height: 315px;
}
.content .conFour .bx-wrapper{
    -moz-box-shadow: 0 none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
}
.content .conFour .bx-wrapper .bx-prev{
	left: 235px;
}
.content .conFour .bx-wrapper .bx-prev,
.content .conFour .bx-wrapper .bx-next {
    top: 290px;
}
/*content5*/
.conFive{position: relative;display: none;}
.conFive .todaySlide{}
.conFive .todaySlide li{
	width: 614.6666px;
	height: 315px;
	background: #c3cfe2;
	position: relative;
}
.conFive .todaySlide li h3.todaybook{
	font-size: 25px;
	padding: 15px;
}
.conFive .todaySlide img{
	width: 260px;
	position: absolute;
	top: 150px;
	left: 70px;
}
.conFive img.editor{
	top: 20px;
	left: 710px;
}
.conFive .todayTxt{
	position: absolute;
	top: 150px;
	right: 100px;
}
.conFive .todayTxt h3{
	font-size: 2.7em;
	margin-bottom: 20px;
}
.conFive .todayTxt h4{
	font-size: 1.7em;
	margin-bottom: 30px;
}
.conFive .todayTxt p{
	font-size: 20px;
}
.conFive .pagerThree{
	position: absolute;
	bottom: 10px;
	right: 0px;
}
.pagerThree a{
	background-color:white;
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-right: 10px;
}
.pagerThree a:hover{background-color:gray;}
.pagerThree a.active{background-color:#2c4d7b;}
.conFive .bx-wrapper{
    -moz-box-shadow: 0 none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
}
/*content6*/
.conSix{
	position: relative;
}
.conSix h3{
	font-size: 22px;
	padding: 10px;
}
.conSix img.goBtn{
	position: absolute;
	top: 65px;
	right: 5px;
}
.conSix img.readbook{
	width: 290px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}
/*content7*/
.conSeven{
	background: #233957;
}
.conSeven h3{
	font-size: 20px;
	padding: 25px;
	color:white;
	margin-bottom: 5px;
}
.conSeven a{
	font-size: 16px;
	color:white;
}
.conSeven p{
	padding-left: 25px;
	padding-bottom: 25px;
}


/*contentTwo*/
.contentTwo{
	width: 922px;
	height: 530px;
	_background:orange;
	margin: 0 auto;
	position: relative;
	margin-top: -550px;
}
.contentTwo li{
	width: 100%;
	color:#303030;
}
.contentTwo img{
	width: 60px;
}
.contentTwo h3{
	font-size: 20px;
	color:#303030;
	margin-bottom: 20px;
}
.mostOne img{
	position: absolute;
	top: 70px;
	left: 0;
}
.contentTwo .mostOne p.booknumber{
	position: absolute;
	left: 90px;
	top: 100px;
	font-weight: bold;
	font-size: 16px
}
.contentTwo .mostOne p.bookname{
	position: absolute;
	left: 120px;
	top: 90px;
	font-weight: bold;
	font-size: 14px;
}
.contentTwo .mostOne p.writer{
	position: absolute;
	font-size: 12px;
	left: 120px;
	top: 115px;
}
.mostTwo img{
	position: absolute;
	top: 70px;
	left: 330px;
}
.contentTwo .mostTwo p.booknumber{
	position: absolute;
	left: 420px;
	top: 100px;
	font-weight: bold;
	font-size: 16px
}
.contentTwo .mostTwo p.bookname{
	position: absolute;
	left: 450px;
	top: 90px;
	font-weight: bold;
	font-size: 14px;
}
.contentTwo .mostTwo p.writer{
	position: absolute;
	font-size: 12px;
	left: 450px;
	top: 115px;
}
.mostThree img{
	position: absolute;
	top: 70px;
	left: 630px;
}
.contentTwo .mostThree p.booknumber{
	position: absolute;
	left: 720px;
	top: 100px;
	font-weight: bold;
	font-size: 16px
}
.contentTwo .mostThree p.bookname{
	position: absolute;
	left: 750px;
	top: 90px;
	font-weight: bold;
	font-size: 14px;
}
.contentTwo .mostThree p.writer{
	position: absolute;
	font-size: 12px;
	left: 750px;
	top: 115px;
}
.mostFour img{
	position: absolute;
	top: 200px;
	left: 0px;
}
.contentTwo .mostFour p.booknumber{
	position: absolute;
	left: 90px;
	top: 235px;
	font-weight: bold;
	font-size: 16px
}
.contentTwo .mostFour p.bookname{
	position: absolute;
	left: 120px;
	top: 215px;
	font-weight: bold;
	font-size: 14px;
}
.contentTwo .mostFour p.writer{
	position: absolute;
	font-size: 12px;
	left: 120px;
	top: 255px;
}
.mostFive img{
	position: absolute;
	top: 200px;
	left: 330px;
}
.contentTwo .mostFive p.booknumber{
	position: absolute;
	left: 420px;
	top: 235px;
	font-weight: bold;
	font-size: 16px
}
.contentTwo .mostFive p.bookname{
	position: absolute;
	left: 450px;
	top: 225px;
	font-weight: bold;
	font-size: 14px;
}
.contentTwo .mostFive p.writer{
	position: absolute;
	font-size: 12px;
	left: 450px;
	top: 250px;
}
.mostSix img{
	position: absolute;
	top: 200px;
	left: 630px;
}
.contentTwo .mostSix p.booknumber{
	position: absolute;
	left: 720px;
	top: 235px;
	font-weight: bold;
	font-size: 16px
}
.contentTwo .mostSix p.bookname{
	position: absolute;
	left: 750px;
	top: 225px;
	font-weight: bold;
	font-size: 14px;
}
.contentTwo .mostSix p.writer{
	position: absolute;
	font-size: 12px;
	left: 750px;
	top: 250px;
}
.mostSeven img{
	position: absolute;
	top: 340px;
	left: 0px;
}
.contentTwo .mostSeven p.booknumber{
	position: absolute;
	left: 90px;
	top: 380px;
	font-weight: bold;
	font-size: 16px
}
.contentTwo .mostSeven p.bookname{
	position: absolute;
	left: 120px;
	top: 370px;
	font-weight: bold;
	font-size: 14px;
}
.contentTwo .mostSeven p.writer{
	position: absolute;
	font-size: 12px;
	left: 120px;
	top: 395px;
}
.mostEight img{
	position: absolute;
	top: 340px;
	left: 330px;
}
.contentTwo .mostEight p.booknumber{
	position: absolute;
	left: 420px;
	top: 380px;
	font-weight: bold;
	font-size: 16px
}
.contentTwo .mostEight p.bookname{
	position: absolute;
	left: 450px;
	top: 370px;
	font-weight: bold;
	font-size: 14px;
}
.contentTwo .mostEight p.writer{
	position: absolute;
	font-size: 12px;
	left: 450px;
	top: 395px;
}
.mostNine img{
	position: absolute;
	top: 340px;
	left: 630px;
}
.contentTwo .mostNine p.booknumber{
	position: absolute;
	left: 720px;
	top: 380px;
	font-weight: bold;
	font-size: 16px
}
.contentTwo .mostNine p.bookname{
	position: absolute;
	left: 750px;
	top: 370px;
	font-weight: bold;
	font-size: 14px;
}
.contentTwo .mostNine p.writer{
	position: absolute;
	font-size: 12px;
	left: 750px;
	top: 395px;
}

/*contentThree*/
.contentThree{
	width: 922px;
	height: 300px;
	margin: 0 auto;
	_background: gray;
}
.contentThree ul{}
.contentThree ul li{
	float: left;
	width: 50%;
	height: 200px;
}
.contentThree ul li.device{
	background:#f1f2f4;
	position: relative;
}
.contentThree ul li.device img{
	width: 80px;
	position: absolute;
}
.contentThree ul li.device a{
	position: absolute;
}
.contentThree ul li a.appstore{
	left: 20px;
	top: 100px;
}
.contentThree ul li a.google{
	left: 120px;
	top: 100px;
}
.contentThree ul li a.mac{
	left: 20px;
	top: 140px;
}
.contentThree ul li a.window{
	left: 120px;
	top: 140px;
}
.contentThree ul li img.devicepic{
	width: 200px;
	right: 20px;
	bottom: 10px;
}
.contentThree ul li.device .goBtn{
	width: 50px;
	top: -42px;
	left: 400px;
	z-index: 1;
}
.contentThree ul li.device h3{
	font-size: 20px;
	padding: 25px;
	color:#303030;
}
.contentThree ul li.device h3:after{
	content:"";
	display:block;
	width:130px;
	height: 2px;
	background:#303030;
}
.contentThree ul li.contest{
	background:#8d9fbd;
	position: relative;
}
.contentThree ul li.contest img.write{
	width: 280px;
	position: absolute;
	bottom: 0px;
	right: 80px;
}
.contentThree ul li.contest img.goBtn{
	width: 50px;
	position: absolute;
	top: 30px;
	right: 5px;
	z-index: 1;
}
.contentThree ul li.contest h3{
	color:white;
	font-size: 18px;
	padding:25px;
	z-index: 1;
	position: relative;
}

/*footer*/
.footerWrap{
	height:250px;
	_background:pink;
}
.footerWrap .bar{
	width: 100%;
	height: 2px;
	background-color: #303030;
}
.footer{
	width: 922px;
	margin: 0 auto;
	position: relative;
}
.footer h1{
	line-height:50px;
	padding-top: 58px;
	padding-left: 10px;
}
.footer ul{
	position: absolute;
	top: 75px;
	left: 150px;
}
.footer ul li{
	float: left;
	width: 70px;
	font-size: 14px;
	border-right: 1px solid #303030;
	padding-left: 5px;
	font-weight: bold;
}
.footer ul li:nth-child(3),
.footer ul li:nth-child(4){
	width: 135px;
}
.footer ul li:nth-child(4){
	border-right: 0 none;
}
.footer ul li a{
	color:#303030;
}
.footer p{
	font-size: 14px;
	color:#303030;
	position: absolute;;
	left: 155px;
	top: 130px;
}
.footer img{
	position: absolute;
	width: 50px;
	top: 140px;
}
.footer img.facebook{
	right: 150px;
}
.footer img.instagram{
	right: 100px;
}
.footer img.twitter{
	right: 50px;
}
.footer img.youtubeicon{
	right: 0;
}

